@media (max-width: 831px) {
  .social__menu {
    width: 237px;
    right: -234px; } }

@media (max-width: 686px) {
  .social__menu {
    top: 175px; } }

@media (max-width: 640px) {
  .produkt__inner-social {
    flex-basis: 51%; }
  .produkt__text {
    margin-top: 10px; }
  .produkt__sub-title {
    display: block;
    color: #282828;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin: 4px 0 4px 0; }
  .produkt__title-tablet {
    display: block;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.23px;
    margin: 0 0 24px;
    background-color: #f6f6f6; }
  .produkt__title {
    font-size: 20px; }
  .produkt__prize-block {
    margin: 0;
    font-size: 10px; }
  .produkt__btn {
    font-size: 18px;
    width: 223px;
    height: 45px; }
  .catalog__title {
    text-align: center; }
  .catalog__img {
    width: 300px;
    height: 284px; }
  .catalog__block {
    justify-content: space-between; }
  .catalog__prize-block {
    width: 100%;
    top: 244px;
    justify-content: center;
    align-items: center;
    height: 40px;
    opacity: 0.7; }
  .produkt__title {
    display: none; }
  .produkt__id {
    font-size: 11px;
    line-height: 8px;
    margin: 0; }
  .produkt__prize-block {
    width: 255px;
    margin: 0;
    display: flex;
    justify-content: space-between; }
  .produkt__color-text {
    margin-right: 0; }
  .prize {
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px; }
  .produkt__link {
    display: none; }
  .social__menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: none;
    box-shadow: none; }
  .social__list {
    margin-bottom: 8px;
    margin-top: 0; }
  .social__list-close {
    display: none; }
  .line-through {
    display: none; }
  .catalog__prize {
    font-size: 22px; }
  .catalog__text {
    font-size: 16px; }
  .produkt__block {
    flex-wrap: wrap; }
  .produkt__inner {
    margin-left: 0; } }

@media (max-width: 608px) {
  .produkt__inner-social {
    flex-basis: inherit;
    margin-right: 0; }
  .produkt__title-tablet {
    text-align: center; }
  .produkt__inner {
    flex-basis: 65%;
    margin-top: 20px; }
  .catalog__block {
    justify-content: center; } }

@media (max-width: 402px) {
  br {
    display: inline; }
  .produkt__title-tablet {
    margin: 0 0 24px 38px;
    text-align: left; }
  .social__menu {
    display: none; }
  .produkt__id {
    font-size: 12px;
    margin-top: 19px;
    margin-bottom: 18px;
    letter-spacing: 0.6px; }
  .produkt__star {
    margin-top: 10px;
    margin-bottom: 30px; }
  .produkt__sub-title {
    display: none; }
  .social__menu-mobile {
    display: block; }
  .social__list {
    display: inline-block;
    margin-right: 16px; }
  .produkt__text {
    font-size: 14px;
    letter-spacing: 0.40px;
    margin-bottom: 30px; }
  .produkt__size-text-mobile {
    display: inline; }
  .produkt__size-text,
  .produkt__color-text {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 32.5px;
    letter-spacing: 0.8px;
    margin-bottom: 15px; }
  .produkt__color-label {
    margin-right: 8px;
    margin-left: 0; }
  .produkt__btn {
    width: 280px;
    height: 57px;
    font-size: 18px;
    letter-spacing: 0.32px;
    margin-top: 60px;
    display: block;
    margin: 40px auto 0 auto; }
  .catalog__title {
    text-align: center;
    margin: 44px 0 0 0;
    font-size: 24px; }
  .catalog__block {
    justify-content: center; }
  .produkt__inner {
    flex-basis: 80%;
    margin-top: 0; }
  .catalog__block {
    position: relative;
    height: 420px; }
  .arrow__link {
    position: absolute;
    color: #474444;
    display: block;
    text-decoration: none;
    font-size: 120px;
    top: 130px; }
  .left {
    left: -3px; }
  .right {
    right: -3px; }
  .slide__block-card {
    position: absolute;
    top: 100px;
    opacity: 0;
    transition: 0.3s ease-in-out; }
  .slide__block-card-active {
    opacity: 1;
    transition: 0.3s ease-in-out; } }

@media (max-width: 360px) {
  .arrow__link {
    color: #949292;
    z-index: 1;
    font-size: 100px;
    top: 145px; } }
