ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

h1 {
  margin: 0;
  padding: 0; }

.page {
  max-width: 1200px;
  background-color: #f6f6f6;
  padding: 30px 50px;
  margin: 0 auto; }

.block-description {
  display: flex;
  justify-content: space-between; }
  .block-description__img {
    width: 45%; }
    .block-description__img_width {
      width: 100%;
      max-width: 100%; }
  .block-description__content {
    width: 45%; }

.title {
  margin-bottom: 19px; }
  .title_text {
    font-size: 24px;
    font-weight: bold;
    color: #2c303d; }

.id-number {
  font-style: 11px;
  color: #686b74; }

.content__prise {
  color: #2c303d;
  margin: 22px 0; }
  .content__prise_size {
    font-size: 24px;
    font-weight: bold; }
  .content__prise_old {
    text-decoration: line-through;
    margin-right: 22px; }
  .content__prise_red {
    color: #ce2c52; }

.stars {
  margin-bottom: 22px; }
  .stars__item {
    font-size: 22px;
    line-height: 0; }
    .stars__item_red {
      color: #ce2c52; }
  .stars__link {
    font-size: 18px;
    font-weight: bold;
    color: #2c87ce;
    text-decoration: none;
    margin-left: 17px; }

.content__text_size {
  margin: 0;
  font-size: 12px;
  font-weight: lighter; }
